.chat-section{
  position: fixed;
  left: 65px;
  top: 0;
  bottom: 0;
  width: 500px;
  background-color: antiquewhite;
}

.top-grid{
  display: grid;
  grid-template-rows: 60px 44px 42px;
}

.top-section{
  display: flex;
  justify-content: space-between;
  margin: 8px 15px 8px 15px;
}

.top-left{
  display: flex;
  justify-content: center;
  align-items: center;

}

.top-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

