.video1{    
    vertical-align: top;
    cursor: pointer;
    }

.channel{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-top: 10px;
    }

.txt1{
    margin-bottom: 0;
    font-weight: solid;
    
    }

.txt2{
    color: rgb(118, 118, 118);
    font-size: small;
    margin-bottom: 0;
    margin-top: 10px;
    margin-right: auto;
    }
.txt2:hover{
    color: black;
}

.txt3{
    color: rgb(118, 118, 118);
    font-size: small;
    margin-top: 5px;
    margin-bottom: 0;
    }
.div-grid{
    display: grid;
    grid-template-columns: 60px 1fr;
    }

.each-video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 70px;
    padding-left: 20px;
    background-color: whitesmoke;
    padding-right: 20px;
    padding-left: 250px;
}

.each-video{
    position: relative;
}

.each-timeline{
    position: absolute;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    bottom: 15px;
    right: 10px;
    border-radius: 5px;
    font-weight: 500;
    padding: 4px;
}