#features{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  gap: 1.5rem;
  width: 100%;
}

#features div{
  border: 1px solid rgb(201, 197, 197);
  padding: 1.5rem 1rem;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 20%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

#features div img{
  object-fit: cover;
  width: 100%;
}

.feature-button{
  background-color: var(--accent-clr);
  color: rgb(255, 101, 127);
  font-weight: bold;
  padding: .3rem .5rem;
  border: none;
  border-radius: .3rem;
  position: relative;
}

.feature-button span{
  color: var(--accent-clr);
  position: relative;
}

.feature-button::before,
.feature-button span::before{
  content: attr(data-source);
  position: absolute;
}

#features article{
  display: inline-block;
}

#product1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

#product1 h1{
  font-size: 2.5rem;
}

#product1 p{
   color: rgb(39, 39, 39);
}