*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  transition: 150ms ease-in-out;
}

body{
  min-height: 100vh;
  min-height: 100dvh;

}

a{
  text-decoration: none;
}

p{
  font-size: 1rem;
  color: #465b52;
  margin: 15px 0 20px 0;
}

#header{
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem;
  background-color: #e3e6f3;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

#navbar{
  display: flex;
  gap: 2rem;
}

#navbar li{
  list-style: none;
}

#navbar li a{
  color: #1a1a1a;
  font-weight: 600;
  position: relative;
}

#navbar li a:hover,
#navbar li a.active{
  color: #088178;
  
}

#navbar li a:hover::after,
#navbar li a.active::after{
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 60%;
  height: 10%;
  background: linear-gradient(to right, rgb(113, 141, 113), rgb(188, 205, 188));
}